.popup {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, .5);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: .5s;
}

.popup_is-opened {
  pointer-events: all;
  opacity: 1;
}

.popup__content {
	background-color: #ffffff;
	border-radius: 10px;
	position: relative;
	box-sizing: border-box;
	color: #000000;

  transform: scale(.5);
  transition: .6s all;
}

.popup__content_active {
  transform: scale(1);
}

.popup__image {
	width: 15vw;
	align-self: center;
}

.popup__text {
	font-weight: 900;
	font-size: 24px;
	line-height: 29px;
	text-align: center;
	max-width: 358px;
	align-self: center;
	margin: 32px auto 0;
}

.tooltip__popup {
	width: 30vw;
	height: 30vh;
	background-color: #ccc /* #ffffff */;
	border-radius: 10px;
	box-sizing: border-box;
	color: #000000;
	position: relative;
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
}

@media screen and (max-width: 320px) {
  .popup__text {
    font-size: 12px;
   }
  .tooltip__popup {
    height: 20vh;
  }
}
