.register {
  display: flex;
  flex-direction: column;
  background-color: #202020;
  color: #FFFFFF;
  padding: 56px 30px 30px;
}
.register-container {
  align-self: center;
}
.logo-button {
  padding: 0;
}
.register__header {
  font-size: 24px;
  line-height: 29px;
  padding:50px 0 80px;
}

.register__input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 260px;
  padding-bottom: 215px;
}

.register__secondary-text {
  font-size: 10px;
  color: #8B8B8B;
  padding-bottom: 5px;
}
.register__input-text {
  font-size: 14px;
  line-height: 17px;
  /* margin-bottom: 24px; */
  background-color: #202020;
  padding-bottom: 10px;
  border: none;
  border-bottom: 1px solid #424242;
  outline: none;
  color: #FFFFFF;
}
.register__input-error {
  line-height: 24px;
  color: #EE3465;
  visibility: hidden;
}

.register__button-container {
  font-size: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register__submit-button {
  color: #FFFFFF;
  line-height: 15px;
  width: 260px;
  height: 45px;
  background-color: #4285F4;
  border-radius: 3px;
  border: none;
  text-align: center;
  margin-bottom: 14px
}

.register__enter-button {
  border: none;
  background-color: #202020;
  color: #4285F4;

}
@media screen and (min-width: 768px) {
  .register {
    padding: 232px 186px;
    align-items: flex-start;
  }
  .register__header {
    padding:40px 0;
  }
  .register__input-container {
    padding-bottom: 134px;
    width: 396px;
  }
  .register__submit-button {
    line-height: 15px;
    width: 396px;
    margin-bottom: 16px
  }

  .register__text {
    font-size: 14px
  }
}
