.footer {
  padding: 80px 10px 10px;
  background-color: #202020;
}

.footer__text {
  color: #8B8B8B;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
}

.footer__line {
  border-bottom: 1px solid #424242;
  padding-bottom: 20px;
}

.footer__link-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
}

.footer__link {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 12px;
  line-height: 28px;
}

@media screen and (min-width: 768px) {
  .footer {
    padding: 80px 30px 20px;
  }
  .footer__container {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
  }
  .footer__link-container {
    flex-direction: row;
    justify-content: space-between;
    order: 2;
    width: 263px;
    padding: 20px 0 0;
  }
  .footer__link {
    font-size: 13px;
    line-height: 16px;
  }
}

@media screen and (min-width: 1280px) {
  .footer {
    padding: 80px 70px 20px;
  }
}